* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blackColor:#000;
  --whiteColor:#ffff;
  --weightLight:#fcfcfc;
  --green1: #2ecc71;
  --green2: #badc58;
}

body {
    background-color: var(--blackColor);
    font-family: 'Raleway', sans-serif;
}